
#choices {
	background: white;
	width: 100%;
	display: block;
	margin-bottom:10px;
}

#fixtures {
	width: 100%;
	display: block;
}

.label {
	width: 25%;
	text-align: right;
	float: left;
	font-size:120%;
	margin-right: 20px;
}

.selector {
	width: 50%;
	text-align: left;
	margin-right: 100px;
	display: inline-block;
}

.selectionDiv {
	width: 100%;
	padding: 10px;
}

select {
	width: 50%;
}

table
{
	border: 1px solid black;
}

th {
	background: gray;
}

.date {
	width: 100px;
}

.home {
	text-align: right;
	width: 100px;
	font-weight:bold;
}

.score {
	text-align: center;
	width: 20px;
}

.versus {
	text-align: center;
	width: 20px;
}

.away {
	text-align: left;
	width: 100px;
	font-weight:bold;
}
